<div class="container mt-5">
    <h2>User Profile Details</h2>
    <form *ngIf="user">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.fullName" name="name">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="user.age" name="age">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.userEmail" name="email">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.userName" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
      </div>
      <button type="button" class="btn btn-primary" (click)="updateUserDetails()" routerLink="/user">Save Changes</button>
    </form>
  </div>

  <!-- {{user | json}} -->
  